print('Starting database initialization...');

db = db.getSiblingDB('$MONGO_DB_NAME');

db.createUser({
  user: "$MONGO_USER",
  pwd: "$MONGO_USER_PASSWORD",
  roles: [{
    role: "readWrite",
    db: '$MONGO_DB_NAME'
  }]
});

db.createCollection('adherents');
db.createCollection('users');

// login: bgrolleau001:bgrolleau001
db.users.insertMany([
  { username: "bgrolleau001", password: "$HASHED_PASSWORD", role: "admin" }
]);

print('Database initialization completed.');
